{
    "openapi": "3.0.0",
    "info": {
        "title": "Hostinger API",
        "description": "# Overview\nThe Hostinger API provides a comprehensive set of endpoints that allow developers\nto interact with Hostinger's services programmatically.\nThis API enables you to manage various aspects of your Hostinger account.\n\nThe Hostinger API is a (mostly) RESTful API that uses standard HTTP methods and status codes.\n# Authentication\nThe Hostinger API uses tokens for authentication. To authenticate your requests,\nyou need to include a valid bearer token in the Authorization header of your HTTP requests:\n```yaml\nAuthorization: Bearer YOUR_API_TOKEN\n```\nAPI tokens for individual users can be created and managed from\nthe [Account page](https://hpanel.hostinger.com/profile/api) of the Hostinger Panel.\nTokens will have same permissions as the owning user.\nOptionally, tokens can be set to expire after a certain period of time.\n# Rate Limiting\nTo ensure fair usage and prevent abuse,\nthe API enforces rate limits on the number of requests that can be made within a certain time period.\nIf you exceed the rate limit, you will receive a 429 Too Many Requests response.\nYour IP address might get temporarily blocked if you exceed the rate limit multiple times.\n\nEvery response carries the\n[standard RateLimit headers](https://datatracker.ietf.org/doc/draft-ietf-httpapi-ratelimit-headers/)\nso you can throttle yourself without waiting for a 429:\n- `RateLimit-Policy: \"api\";q=90;w=60` - the quota (`q`) and its window in seconds (`w`).\n- `RateLimit: \"api\";r=89;t=60` - requests remaining (`r`) and seconds until the quota resets (`t`).\n- `Retry-After: 42` - on a 429 only, the seconds to wait before retrying.\n\nThe legacy `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset`\nheaders are still sent alongside them.\n# Parameters\nAll requests sent to API must have the content type `application/json`.\n`POST`, `PUT`, `PATCH` methods may include a JSON object in the request body.\nDocumentation provides required structure and examples of the object.\nSome endpoints require path parameters.\nThese parameters are included in the URL path and are marked with curly braces.\n# Pagination\nSome endpoints return a large number of items.\nTo make these responses more manageable, the API uses pagination.\nBy default, the API returns50 items per page.\n\n The page number can be specified using the `page` query parameter,\n for example: `/api/vps/v1/public-keys?page=2`\n# Errors\nThe Hostinger API uses standard HTTP status codes to indicate the success or failure of a request.\nIn case of an error, the API will return a JSON response with an `error` field,\ncontaining a human-readable error message.\nError responses also contain a `correlation_id` field\nwhich can be used to identify the request in case you need to contact support.\n# SDKs & Tools\nTo help you get started with the Hostinger API,we provide SDKs and tools in various programming languages.\nThe usage & documentation for each SDK can be found in the respective repositories:\n- Ansible - https://github.com/hostinger/ansible-collection-hostinger\n- CLI - https://github.com/hostinger/api-cli\n- n8n node - https://github.com/hostinger/api-n8n-node\n- MCP server - https://github.com/hostinger/api-mcp-server\n- PHP - https://github.com/hostinger/api-php-sdk\n- Python - https://github.com/hostinger/api-python-sdk\n- Terraform - https://github.com/hostinger/terraform-provider-hostinger\n- Node / TypeScript - https://github.com/hostinger/api-typescript-sdk\n- Postman collection - https://www.postman.com/hostinger-api\n- WHMCS module - https://github.com/hostinger/api-whmcs-plugin\n# Change log\nFor information on the latest changes to the API,\nplease refer to the [change log](https://github.com/hostinger/api/blob/main/CHANGELOG.md).\n# Support\nIf you have any questions, feedback or feature requests,\nplease create an [issue](https://github.com/hostinger/api/issues)\nor [discussion](https://github.com/hostinger/api/discussions) on the repository.\n\nFor any support take a look at our [Github Repository](https://github.com/hostinger/api/),\ndedicated to the Hostinger API.",
        "contact": {
            "name": "Hostinger",
            "url": "https://developers.hostinger.com",
            "email": "devs@hostinger.com"
        },
        "version": "1.53.1",
        "x-scalar-sdk-installation": [
            {
                "lang": "Shell",
                "description": "Install official CLI tool. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-cli).",
                "source": "hostinger vps vm list"
            },
            {
                "lang": "PHP",
                "description": "Install official PHP SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-php-sdk).",
                "source": "composer require hostinger/api-php-sdk"
            },
            {
                "lang": "Python",
                "description": "Install official Python SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-python-sdk).",
                "source": "pip install hostinger_api"
            },
            {
                "lang": "Node",
                "description": "Install official Node / Typescript SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-typescript-sdk).",
                "source": "npm install hostinger-api-sdk"
            }
        ]
    },
    "servers": [
        {
            "url": "https://developers.hostinger.com",
            "description": "Production API Server"
        }
    ],
    "paths": {
        "/api/agency-hosting/v1/orders/{order_id}/datacenters": {
            "get": {
                "tags": [
                    "Agency Hosting: Datacenters"
                ],
                "summary": "List available datacenters",
                "description": "Lists the datacenters available for provisioning a new website on the given Agency Plan\nhosting order.\n\nEach datacenter includes a `pinger_url` you can ping from the client to measure round-trip\nlatency; comparing the results across datacenters lets you pick the nearest one (lowest\nping) before choosing its `code` as the `datacenter_code` when creating a website setup.",
                "operationId": "agency-hosting_listAvailableDatacentersV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Datacenters.DatacenterCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/domains/{from_domain}": {
            "put": {
                "tags": [
                    "Agency Hosting: Domains"
                ],
                "summary": "Change website domain",
                "description": "Changes the primary domain for an Agency Plan website.\n\nProvide the current domain in the path and the new domain in the request body.\nSet domain to null to revert to the temporary domain.",
                "operationId": "agency-hosting_changeWebsiteDomainV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/from_domain"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Domains.ChangeDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/domains": {
            "post": {
                "tags": [
                    "Agency Hosting: Domains"
                ],
                "summary": "Link domain to website",
                "description": "Links a domain to the specified Agency Plan website so it can serve traffic for that domain.",
                "operationId": "agency-hosting_linkDomainToWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Domains.LinkDomainRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/domains": {
            "get": {
                "tags": [
                    "Agency Hosting: Domains"
                ],
                "summary": "List domains",
                "description": "Returns a paginated list of domains associated with Agency Plan websites accessible to the authenticated client.\n\nUse the website_uuids filter to narrow results to specific websites.",
                "operationId": "agency-hosting_listDomainsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/website_uuids"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgencyHosting.V1.Domains.DomainCollection"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/domains/{domain}": {
            "delete": {
                "tags": [
                    "Agency Hosting: Domains"
                ],
                "summary": "Unlink domain from website",
                "description": "Unlinks a domain from the specified Agency Plan website.\n\nThe website stops serving traffic on this domain immediately.\n\nWebsite files and database are preserved, and any other linked domains remain accessible.\n\nIf this is the only domain on the website, unlinking leaves the website without an accessible domain.",
                "operationId": "agency-hosting_unlinkDomainFromWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/files/upload-urls": {
            "post": {
                "tags": [
                    "Agency Hosting: Files"
                ],
                "summary": "Generate upload URL",
                "description": "Generate a file browser upload URL with authentication credentials for uploading files\nto an Agency Plan website's file storage.\n\nReturns `url`, `auth_key` and `rest_auth_key`. Use these to upload a file to the\nwebsite's file storage via the TUS resumable upload protocol (TUS 1.0.0). Send\n`X-Auth: {auth_key}` and `X-Auth-Rest: {rest_auth_key}` headers on every request below.\n\n1. Create the upload: `POST` to `{url}/{relative_file_path}?override=true` with headers\n   `upload-length: {file size in bytes}` and `upload-offset: 0`. Expect `201 Created`.\n2. Upload the file: send the file bytes to the same location (any TUS 1.0.0 client, or\n   `PATCH` requests with an `upload-offset` header tracking progress) until complete.\n\n`relative_file_path` is the destination path inside the website's file storage, e.g.\n`app.zip`.\n\nInstead of a TUS client, plain `curl` also works:\n```\nFILE=app.zip\nSIZE=$(stat -f%z \"$FILE\")   # stat -c%s on Linux\n\ncurl -i -X POST \"{url}/${FILE}?override=true\" \\\n  -H \"X-Auth: {auth_key}\" \\\n  -H \"X-Auth-Rest: {rest_auth_key}\" \\\n  -H \"Tus-Resumable: 1.0.0\" \\\n  -H \"Upload-Length: ${SIZE}\" \\\n  -H \"Upload-Offset: 0\"\n# -> 201 Created\n\ncurl -i -X PATCH \"{url}/${FILE}?override=true\" \\\n  -H \"X-Auth: {auth_key}\" \\\n  -H \"X-Auth-Rest: {rest_auth_key}\" \\\n  -H \"Tus-Resumable: 1.0.0\" \\\n  -H \"Content-Type: application/offset+octet-stream\" \\\n  -H \"Upload-Offset: 0\" \\\n  --data-binary \"@${FILE}\"\n# -> 204 No Content, Upload-Offset response header equals SIZE when done\n```",
                "operationId": "agency-hosting_generateUploadURLV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Files.UploadUrlResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/files/import-archive": {
            "post": {
                "tags": [
                    "Agency Hosting: Files"
                ],
                "summary": "Import website from archive",
                "description": "Imports an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to the website's root directory via file browser first, then provide its\nfilename in this request. Website contents are overwritten by the archive contents. Supported\narchive types: .zip, .tar, .tar.gz, .tgz.",
                "operationId": "agency-hosting_importWebsiteFromArchiveV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Files.ImportArchiveRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders/{order_id}/disk-usage-metrics": {
            "get": {
                "tags": [
                    "Agency Hosting: Metrics"
                ],
                "summary": "List Agency Plan order disk usage metrics",
                "description": "Returns aggregated disk and inode usage for the Agency Plan order over the\nselected time frame, plus the plan quotas. Figures cover the whole order\naccount. Values may be up to one hour stale. CPU, memory, and process usage\nare on the resource-usage-metrics endpoint.",
                "operationId": "agency-hosting_listAgencyPlanOrderDiskUsageMetricsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    },
                    {
                        "$ref": "#/components/parameters/agency_time_frame_days"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Orders.DiskUsageMetrics.MetricsResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders": {
            "get": {
                "tags": [
                    "Agency Hosting: Orders"
                ],
                "summary": "List orders",
                "description": "Returns a paginated list of Agency Plan orders accessible to the authenticated client.",
                "operationId": "agency-hosting_listOrdersV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgencyHosting.V1.Orders.OrderCollection"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders/{order_id}/resource-usage-metrics": {
            "get": {
                "tags": [
                    "Agency Hosting: Metrics"
                ],
                "summary": "List order resource usage metrics",
                "description": "Returns aggregated CPU, memory, and process usage for the Agency Plan order\nover the selected time frame, plus the plan quotas and a per-website\nbreakdown. Each website is identified by uid. Suspended and deleted websites\nare excluded from both the order totals and the per-website breakdown.\nValues may be up to one hour stale. Disk and inode usage are on the\ndisk-usage-metrics endpoint.",
                "operationId": "agency-hosting_listOrderResourceUsageMetricsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    },
                    {
                        "$ref": "#/components/parameters/agency_time_frame_hours"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Orders.ResourceUsageMetrics.MetricsResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/php-settings/extensions": {
            "get": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "List PHP extensions for a website",
                "description": "Lists every PHP extension available to an Agency Plan website and whether it is currently enabled.",
                "operationId": "agency-hosting_listPHPExtensionsForAWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Php.ExtensionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "put": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "Replace website PHP extensions",
                "description": "Replaces the set of PHP extensions enabled on an Agency Plan website with the ones provided. Any toggleable extension not in the request is disabled, so call the extensions endpoint first and send the full desired set. Extensions compiled into PHP, reported with the \"built-in\" state, are always active and are unaffected.",
                "operationId": "agency-hosting_replaceWebsitePHPExtensionsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Php.UpdateExtensionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/php-settings/options": {
            "get": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "List PHP options for a website",
                "description": "Lists the php.ini directives that can be configured for an Agency Plan website, each with its default, the value currently in effect, and the values it accepts.",
                "operationId": "agency-hosting_listPHPOptionsForAWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Php.OptionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "put": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "Replace website PHP options",
                "description": "Replaces the custom php.ini values on an Agency Plan website with the ones provided. Any option not in the request is reset to its default, so call the options endpoint first and send the full desired set. Sending an empty array resets every option to its default.",
                "operationId": "agency-hosting_replaceWebsitePHPOptionsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Php.UpdateOptionsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders/{order_id}/websites/php-settings/versions": {
            "get": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "List available PHP versions for an order",
                "description": "Lists the PHP versions available to websites created under an Agency Plan order, determined by the server the order is hosted on. Use this before creating a website; for a website that already exists, call the website-scoped versions endpoint instead.",
                "operationId": "agency-hosting_listAvailablePHPVersionsForAnOrderV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Php.VersionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/php-settings/versions": {
            "get": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "List available PHP versions for a website",
                "description": "Lists the PHP versions an Agency Plan website can be switched to. The version the website is currently running is returned as settings.php.version by the website details endpoint.",
                "operationId": "agency-hosting_listAvailablePHPVersionsForAWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Php.VersionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/php-settings/version": {
            "patch": {
                "tags": [
                    "Agency Hosting: PHP"
                ],
                "summary": "Update website PHP version",
                "description": "Switches an Agency Plan website to a different PHP version. Call the available versions endpoint first to see which versions can be selected. The website restarts on the new version, so requests served during the switch may fail and code that is incompatible with the target version will break.",
                "operationId": "agency-hosting_updateWebsitePHPVersionV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Php.UpdateVersionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders/{order_id}/websites/setups": {
            "post": {
                "tags": [
                    "Agency Hosting: Website Setups"
                ],
                "summary": "Create a new website",
                "description": "Provisions a new website on one of your Agency Plan hosting orders.\n\nChoose the datacenter, stack (`flavor`), and PHP version for the site. Optionally attach\nyour own `domain` — omit it, set it to `null`, or leave it unavailable and a free\n`*.hostingersite.com` subdomain is generated instead — and/or install WordPress by\nsupplying the `wordpress` details (admin account, site title, and language).\n\nCommon setups:\n- **Plain PHP site**: `flavor` set to `php-fpm`, with `settings.php.version`; omit\n  `wordpress` and `type`.\n- **WordPress site**: `flavor` set to the desired WordPress version (e.g. `wp-7.0`), plus\n  the `wordpress` block (admin account, title, language).\n- **Static/Node.js frontend app**: `flavor` set to `php-fpm` and `type` set to\n  `node-static`.\n\nProvisioning runs in the background, so the response returns immediately with a setup UUID\nthat identifies the job. The new website becomes reachable once provisioning finishes.",
                "operationId": "agency-hosting_createANewWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Setups.CreateSetupRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Setups.WebsiteSetupResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/orders/{order_id}/websites/setups/{setup_uuid}": {
            "get": {
                "tags": [
                    "Agency Hosting: Website Setups"
                ],
                "summary": "Get website setup status",
                "description": "Returns the current status of an Agency Plan website setup started via the setups\nendpoint.\n\nPoll this endpoint using the `setup_uuid` returned from the provisioning request until\n`status` becomes `completed`, at which point `website_uid` identifies the new website.",
                "operationId": "agency-hosting_getWebsiteSetupStatusV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/order_id_path"
                    },
                    {
                        "$ref": "#/components/parameters/setup_uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Setups.WebsiteSetupStatusResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/build-assets": {
            "post": {
                "tags": [
                    "Agency Hosting: Websites"
                ],
                "summary": "Build website NodeJS assets",
                "description": "Builds and deploys a Node.js application for an Agency Plan website from an already-uploaded archive.\n\nUpload the archive to file browser first, then provide its relative path from document root in this request.\nWebsite contents are overwritten by the build result, which is deployed to public_html.",
                "operationId": "agency-hosting_buildWebsiteNodeJSAssetsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.BuildAssetsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/cache": {
            "delete": {
                "tags": [
                    "Agency Hosting: Cache"
                ],
                "summary": "Clear website cache",
                "description": "Clears cache for all domains associated with an Agency Plan website, including its preview domain.\n\nThis operation clears all cache types for the website.",
                "operationId": "agency-hosting_clearWebsiteCacheV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs": {
            "get": {
                "tags": [
                    "Agency Hosting: Cron Jobs"
                ],
                "summary": "List website cron jobs",
                "description": "Returns a paginated list of cron jobs configured for an Agency Plan website.\n\nEach entry includes the schedule expression and the command executed on that schedule.",
                "operationId": "agency-hosting_listWebsiteCronJobsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CronJobCollection"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "post": {
                "tags": [
                    "Agency Hosting: Cron Jobs"
                ],
                "summary": "Create website cron job",
                "description": "Creates a cron job for an Agency Plan website from a schedule expression and a command.\n\nReturns the created cron job, including its uuid, which is required to delete the cron job.",
                "operationId": "agency-hosting_createWebsiteCronJobV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CreateCronJobRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Websites.CronJobs.CronJobResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/cron-jobs/{uuid}": {
            "delete": {
                "tags": [
                    "Agency Hosting: Cron Jobs"
                ],
                "summary": "Delete website cron job",
                "description": "Permanently deletes the cron job identified by its uuid from an Agency Plan website.\n\nThe operation is idempotent: deleting a cron job that does not exist succeeds without error.",
                "operationId": "agency-hosting_deleteWebsiteCronJobV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/agency_cron_job_uuid_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/databases": {
            "get": {
                "tags": [
                    "Agency Hosting: Databases"
                ],
                "summary": "List website databases",
                "description": "Returns a paginated list of MySQL databases created for an Agency Plan website.\n\nEach entry includes the database's non-system users.",
                "operationId": "agency-hosting_listWebsiteDatabasesV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgencyHosting.V1.Websites.Databases.DatabaseCollection"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "post": {
                "tags": [
                    "Agency Hosting: Databases"
                ],
                "summary": "Create website database",
                "description": "Creates a MySQL database with a dedicated user for an Agency Plan website.\n\nThe database name, username, and password must all be provided by the caller.",
                "operationId": "agency-hosting_createWebsiteDatabaseV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.Databases.CreateDatabaseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Websites.Databases.DatabaseResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}": {
            "delete": {
                "tags": [
                    "Agency Hosting: Databases"
                ],
                "summary": "Delete website database",
                "description": "Permanently deletes a MySQL database and all its data from an Agency Plan website, including its users.\n\nThe operation is idempotent: deleting a database that does not exist succeeds without error.",
                "operationId": "agency-hosting_deleteWebsiteDatabaseV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/agency_database_name_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}/users": {
            "post": {
                "tags": [
                    "Agency Hosting: Databases"
                ],
                "summary": "Create website database user",
                "description": "Creates a user for an existing database on an Agency Plan website.\n\nEach database supports a single non-system user; creating a user for a database that already has one fails.",
                "operationId": "agency-hosting_createWebsiteDatabaseUserV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/agency_database_name_path"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.Websites.Databases.Users.CreateDatabaseUserRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Websites.Databases.DatabaseUserResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/databases/{database_name}/users/{database_user_name}": {
            "delete": {
                "tags": [
                    "Agency Hosting: Databases"
                ],
                "summary": "Delete website database user",
                "description": "Permanently deletes a database user from an Agency Plan website database, revoking all access it had.\n\nThe operation is idempotent: deleting a user that does not exist succeeds without error.",
                "operationId": "agency-hosting_deleteWebsiteDatabaseUserV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    },
                    {
                        "$ref": "#/components/parameters/agency_database_name_path"
                    },
                    {
                        "$ref": "#/components/parameters/agency_database_user_name_path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}": {
            "get": {
                "tags": [
                    "Agency Hosting: Websites"
                ],
                "summary": "Get website details",
                "description": "Retrieves detailed information about a specific Agency Plan website, including configuration,\nstatus, metadata, hosting plan details, and resource quotas.",
                "operationId": "agency-hosting_getWebsiteDetailsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Agency Hosting: Websites"
                ],
                "summary": "Delete website",
                "description": "Permanently deletes an Agency Plan website. Deletion is processed asynchronously: the\nwebsite is immediately transitioned to a deleting state and the underlying server\nresources are removed in the background.",
                "operationId": "agency-hosting_deleteWebsiteV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites": {
            "get": {
                "tags": [
                    "Agency Hosting: Websites"
                ],
                "summary": "List Agency Plan websites",
                "description": "Retrieve a paginated list of Agency Plan websites (H5G, Builder, and Horizons) accessible to\nthe authenticated client.\n\nThis endpoint returns websites from your hosting accounts as well as\nwebsites from other client hosting accounts that have shared access\nwith you.\n\nThe response shape differs per platform — see the `platform` field on each item.\n\nUse `website_types` to list only websites of a given detected type, e.g. only\nWordPress websites (`website_types=wordpress`) or only Node.js websites\n(`website_types=nodejs`). Combine with `order_ids`, `states`, or `domain` for more\ntargeted results.",
                "operationId": "agency-hosting_listAgencyPlanWebsitesV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/per_page"
                    },
                    {
                        "$ref": "#/components/parameters/agency_hosting_order_ids"
                    },
                    {
                        "$ref": "#/components/parameters/agency_hosting_states"
                    },
                    {
                        "$ref": "#/components/parameters/agency_hosting_website_types"
                    },
                    {
                        "$ref": "#/components/parameters/agency_hosting_domain_filter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteCollection"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/processes": {
            "get": {
                "tags": [
                    "Agency Hosting: Websites"
                ],
                "summary": "List website processes",
                "description": "Lists active and recently completed asynchronous processes for an Agency Plan website.\n\nEach process has a unique ID (for tracking), a type, and a status (running, completed, failed).\nPoll this endpoint after initiating async operations (SSL setup, backups, cloning) to track progress.",
                "operationId": "agency-hosting_listWebsiteProcessesV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.Websites.WebsiteProcessCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/wordpress/settings/version": {
            "patch": {
                "tags": [
                    "Agency Hosting: WordPress"
                ],
                "summary": "Change WordPress version",
                "description": "Changes the installed WordPress core version on an Agency Plan website to one of the versions available for installation.",
                "operationId": "agency-hosting_changeWordPressVersionV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AgencyHosting.V1.WordPress.ChangeVersionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/wordpress/settings": {
            "get": {
                "tags": [
                    "Agency Hosting: WordPress"
                ],
                "summary": "Get WordPress settings",
                "description": "Returns the current WordPress settings for an Agency Plan website: installed core version,\nLiteSpeed Cache plugin status, object cache status, and maintenance mode status.",
                "operationId": "agency-hosting_getWordPressSettingsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.WordPress.SettingsResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/agency-hosting/v1/websites/{website_uid}/wordpress/settings/versions": {
            "get": {
                "tags": [
                    "Agency Hosting: WordPress"
                ],
                "summary": "List available WordPress versions",
                "description": "Lists the WordPress core versions available for installation on an Agency Plan website.",
                "operationId": "agency-hosting_listAvailableWordPressVersionsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/website_uid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AgencyHosting.V1.WordPress.VersionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/catalog": {
            "get": {
                "tags": [
                    "Billing: Catalog"
                ],
                "summary": "Get catalog item list",
                "description": "Retrieve catalog items available for order.\n\nPrices in catalog items is displayed as cents (without floating point),\ne.g: float `17.99` is displayed as integer `1799`.\n\nUse this endpoint to view available services and pricing before placing orders.",
                "operationId": "billing_getCatalogItemListV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/category"
                    },
                    {
                        "$ref": "#/components/parameters/name"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Catalog.CatalogItemCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/orders": {
            "post": {
                "tags": [
                    "Billing: Orders"
                ],
                "summary": "Create purchase order",
                "description": "Create a purchase order for any Hostinger product.\n\nThis unified endpoint places an order for one or more catalog items and\nworks across all Hostinger products, leveraging the existing billing\ninfrastructure. Use the [catalog endpoint](#tag/billing-catalog) to look\nup the `item_id` values available for purchase.\n\nIf no payment method is provided, your default payment method will be used automatically.\n\nIf the response is `202 Accepted`, the payment is still being processed and the order will\ncomplete asynchronously once the payment is confirmed.\n\nThis endpoint only places the order. Product-specific provisioning\n(e.g. VPS setup or domain registration) is not performed here — once the\norder completes, use the relevant product endpoints or\n[hPanel](https://hpanel.hostinger.com/) to finalize setup.\n\nUse this endpoint to purchase any product available in the catalog.",
                "operationId": "billing_createPurchaseOrderV1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Billing.V1.Order.PurchaseRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Order.OrderResource"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Payment is being processed, the order will complete asynchronously",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Order.PaymentProcessingResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/payment-methods/{paymentMethodId}": {
            "post": {
                "tags": [
                    "Billing: Payment methods"
                ],
                "summary": "Set default payment method",
                "description": "Set the default payment method for your account.\n\nUse this endpoint to configure the primary payment method for future orders.",
                "operationId": "billing_setDefaultPaymentMethodV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentMethodId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Billing: Payment methods"
                ],
                "summary": "Delete payment method",
                "description": "Delete a payment method from your account.\n\nUse this endpoint to remove unused payment methods from user accounts.",
                "operationId": "billing_deletePaymentMethodV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/paymentMethodId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success empty response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/payment-methods": {
            "get": {
                "tags": [
                    "Billing: Payment methods"
                ],
                "summary": "Get payment method list",
                "description": "Retrieve available payment methods that can be used for placing new orders.\n\nIf you want to add new payment method,\nplease use [hPanel](https://hpanel.hostinger.com/billing/payment-methods).\n\nUse this endpoint to view available payment options before creating orders.",
                "operationId": "billing_getPaymentMethodListV1",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.PaymentMethod.PaymentMethodCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/subscriptions": {
            "get": {
                "tags": [
                    "Billing: Subscriptions"
                ],
                "summary": "Get subscription list",
                "description": "Retrieve a list of all subscriptions associated with your account.\n\nUse this endpoint to monitor active services and billing status.",
                "operationId": "billing_getSubscriptionListV1",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/disable": {
            "delete": {
                "tags": [
                    "Billing: Subscriptions"
                ],
                "summary": "Disable auto-renewal",
                "description": "Disable auto-renewal for a subscription.\n\nUse this endpoint when disable auto-renewal for a subscription.",
                "operationId": "billing_disableAutoRenewalV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/subscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/enable": {
            "patch": {
                "tags": [
                    "Billing: Subscriptions"
                ],
                "summary": "Enable auto-renewal",
                "description": "Enable auto-renewal for a subscription.\n\nUse this endpoint when enable auto-renewal for a subscription.",
                "operationId": "billing_enableAutoRenewalV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/subscriptionId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/billing/v1/subscriptions/{subscriptionId}/renew": {
            "post": {
                "tags": [
                    "Billing: Subscriptions"
                ],
                "summary": "Renew subscription",
                "description": "Create a renewal order for an existing Hostinger subscription.\n\nThis endpoint places a renewal order for a single subscription, leveraging\nthe existing billing infrastructure. Use the\n[subscriptions endpoint](#tag/billing-subscriptions) to look up the\n`subscriptionId` values available for renewal.\n\nIf no payment method is provided, your default payment method will be used automatically.\n\nIf the response is `202 Accepted`, the payment is still being processed and the renewal will\ncomplete asynchronously once the payment is confirmed.\n\nUse this endpoint to renew any subscription available in your account.",
                "operationId": "billing_renewSubscriptionV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/subscriptionId"
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Billing.V1.Subscription.Renewal.RenewRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Order.OrderResource"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Payment is being processed, the order will complete asynchronously",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Billing.V1.Order.PaymentProcessingResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/dns/v1/snapshots/{domain}/{snapshotId}": {
            "get": {
                "tags": [
                    "DNS: Snapshot"
                ],
                "summary": "Get DNS snapshot",
                "description": "Retrieve particular DNS snapshot with contents of DNS zone records.\n\nUse this endpoint to view historical DNS configurations for domains.",
                "operationId": "DNS_getDNSSnapshotV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    },
                    {
                        "$ref": "#/components/parameters/snapshotId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotWithContentResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/dns/v1/snapshots/{domain}": {
            "get": {
                "tags": [
                    "DNS: Snapshot"
                ],
                "summary": "Get DNS snapshot list",
                "description": "Retrieve DNS snapshots for a domain.\n\nUse this endpoint to view available DNS backup points for restoration.",
                "operationId": "DNS_getDNSSnapshotListV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/dns/v1/snapshots/{domain}/{snapshotId}/restore": {
            "post": {
                "tags": [
                    "DNS: Snapshot"
                ],
                "summary": "Restore DNS snapshot",
                "description": "Restore DNS zone to the selected snapshot.\n\nUse this endpoint to revert domain DNS to a previous configuration.",
                "operationId": "DNS_restoreDNSSnapshotV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    },
                    {
                        "$ref": "#/components/parameters/snapshotId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            }
        },
        "/api/dns/v1/zones/{domain}": {
            "get": {
                "tags": [
                    "DNS: Zone"
                ],
                "summary": "Get DNS records",
                "description": "Retrieve DNS zone records for a specific domain.\n\nUse this endpoint to view current DNS configuration for domain management.",
                "operationId": "DNS_getDNSRecordsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DNS.V1.Zone.RecordCollection"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "put": {
                "tags": [
                    "DNS: Zone"
                ],
                "summary": "Update DNS records",
                "description": "Update DNS records for the selected domain.\n\nUsing `overwrite = true` will replace existing records with the provided ones. \nOtherwise existing records will be updated and new records will be added.\n\nUse this endpoint to modify domain DNS configuration.",
                "operationId": "DNS_updateDNSRecordsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DNS.V1.Zone.UpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
                        "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
                    },
                    "500": {
                        "$ref": "#/components/responses/Common.Response.ErrorResponse"
                    }
                }
            },
            "delete": {
                "tags": [
                    "DNS: Zone"
                ],
                "summary": "Delete DNS records",
                "description": "Delete DNS records for the selected domain.\n\nTo filter which records to delete, add the `name` of the record and `type` to the filter. \nMultiple filters can be provided with single request.\n\nIf you have multiple records with the same name and type, and you want to delete only part of them,\nrefer to the `Update zone records` endpoint.\n\nUse this endpoint to remove specific DNS records from domains.",
                "operationId": "DNS_deleteDNSRecordsV1",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/domain"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/DNS.V1.Zone.DestroyRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
                    },
                    "401": {
[...]
